body,
html {
  background: #e0e2dc;
  height: 100%;
  margin: 0;
  position: relative;
}

nav {
  background: linear-gradient(to bottom right, rgb(46, 44, 44), #433349);
  margin-bottom: 50px;
  height: 50px;
  color: #d1d4cb;
  padding-left: 20%;
  padding-right: 20%;
  box-shadow: 0px 2px 2px 2px rgb(173, 168, 168);

  display: flex;
}
input:focus {
  outline: none;
  border-color: rgba(229, 103, 23, 0.8);
}
.logo {
  width: 20%;
}
input {
  color: #433349;
  font-weight: bold;
}
.search-bar-container {
  width: 30%;
  top: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  padding-top: 6px;
  position: absolute;
  z-index: 9999;
}
.add-item-input {
  width: 100%;
  padding-left: 3px;
  height: 30px;
  border-radius: 10px;
  z-index: 9999;
}
.product-image-page {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  background: white;
  border-radius: 0 0 10px 10px;
  z-index: 10;
  box-shadow: 2px 2px 4px rgb(173, 168, 168);
}
.overlay {
  position: fixed; /* Sit on top of the page content */

  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}
.container {
  width: 60%; /*When we do mobile design change this to 100% */
  margin: 0 auto;
}

.flaticonss::before {
  font-size: 60px;
  margin: 0;
  display: block;
}

.flaticons-search::before {
  font-size: 60px;
  color: #433349;
  float: left;
  cursor: pointer;
}
.col-container {
  display: flex;
}
.item-container {
  background: linear-gradient(to bottom right, rgb(46, 44, 44), #433349);
  color: #d1d4cb;
  box-shadow: 2px 2px 4px rgb(173, 168, 168);
  border-radius: 15px;
  padding: 20px;
  width: 100%;
  float: left;
  margin-right: 5px;
  text-align: center;

  margin-bottom: 5px;
  transition: background-color 0.5s ease-out;
}

.item-container:hover {
  cursor: pointer;
  background: #2ab831;
}

.item-container p {
  text-align: center;
  font-size: 120%;
  margin: 0;
  margin-top: 10px;
}

.item-container img {
  width: 80px;
}
